@font-face {
    font-family: 'SOR';
    src: local('SOR'), url('../font/SOR2.ttf');
  }

@font-face {
  font-family: 'SOR2';
  src: local ('SOR2'), url('../font/SOR2-2.ttf');
}

@font-face {
  font-family: 'RR';
  src: local('RR'), url('../font/Road_Rage.otf');
}

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(230, 18, 124),
        0 0 60px rgb(230, 18, 124),
        0 0 80px rgb(230, 18, 124),
        0 0 90px rgb(230, 18, 124),
        0 0 100px rgb(230, 18, 124);
      }
    20%, 24%, 55% {        
      text-shadow: none;
      }    
    }

    @keyframes flickerblue {
      0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
          0 0 4px #fff,
          0 0 11px #fff,
          0 0 19px #fff,
          0 0 40px rgb(18, 188, 230),
          0 0 600px rgb(18, 188, 230),
          0 0 80px rgb(18, 188, 230),
          0 0 90px rgb(18, 188, 230),
          0 0 100px rgb(18, 188, 230);
        }
      20%, 24%, 55% {        
        text-shadow: none;
        }    
      }

  @keyframes neon {
    0%{
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 42px rgb(230, 18, 124),
        0 0 77px rgb(230, 18, 124),
        0 0 100px rgb(230, 18, 124);
    }
    50% {
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 32px rgb(230, 18, 124),
        0 0 87px rgb(230, 18, 124),
        0 0 120px rgb(230, 18, 124);
    }
    }

    @keyframes neonblue {
      0%{
        text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 42px rgb(18, 188, 230),
          0 0 77px rgb(18, 188, 230),
          0 0 100px rgb(18, 188, 230);
      }
      50% {
        text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 32px rgb(18, 188, 230),
          0 0 87px rgb(18, 188, 230),
          0 0 120px rgb(18, 188, 230);
      }
      }

#home {
  z-index: 0;
    display: flex;
    flex-wrap: wrap;
    font-family: SOR;
    animation-name: fadeIn;
    animation-duration: 5s;
    transition-timing-function: linear;
    animation-fill-mode: forwards;
    width: 99vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

.home-title {
  color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }

.home-name {
  font-family: RR;
  margin-top: 15px;
  margin-bottom: 15px;
    font-size: 8vw;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 42px rgb(230, 18, 124),
      0 0 77px rgb(230, 18, 124),
      0 0 100px rgb(230, 18, 124);
    animation: neon 0.5s infinite linear;
}

.home-name-blue {
  font-family: RR;
  margin-top: 15px;
  margin-bottom: 15px;
    font-size: 8vw;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 42px rgb(18, 188, 230),
      0 0 77px rgb(18, 188, 230),
      0 0 100px rgb(18, 188, 230);
    animation: neonblue 0.5s infinite linear;
}

.home-developer {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 5vw;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 42px rgb(230, 18, 124),
      0 0 77px rgb(230, 18, 124),
      0 0 100px rgb(230, 18, 124);
    animation: flicker 4s infinite alternate;     
}

.home-developer-blue {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 5vw;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px rgb(18, 188, 230),
    0 0 77px rgb(18, 188, 230),
    0 0 100px rgb(18, 188, 230);
  animation: flickerblue 4s infinite alternate;     
}

.press-start {
  cursor: pointer;
  margin-top: 2em;
  font-family: SOR2;
  color: white;
  font-size: 1.5vw;
  animation-duration: 1s;
  animation-name: flash;
  animation-iteration-count: infinite;
  transition: none;
}

.start-selected{
  padding-bottom: 1.5em;
  font-family: SOR2;
  font-size: 1.5vw;
  text-align: center;
}

.settings{
  margin-top: 3em;
}

.settings-container {
  list-style: none;
  border-style:solid;
  border-width: 5px 2px;
  color: white;
  padding: 1em;
    width: 75vw;
    background-color: black;
    align-content: center;
    align-items: center;
    text-align: justify;
    text-justify:auto;
  } 

.settings-list{
  display: flex;
  justify-content: space-around;
}

.settings-card{
  text-align: center;
  width: 99vw;
}

.settings-music{
  font-family: SOR2;
  list-style: none;
  line-height: 4vh;
  text-align: center;
}

.settings-language{
  font-family: SOR2;
  list-style: none;
  line-height: 4vh;
  text-align: center;
}

.settings-select{
  color: white;
  padding-bottom: 1em;
  font-family: SOR2;
  font-size:1vw;
}

.settings-choice{
  font-family: SOR2;
  cursor: pointer;
  font-size: 0.7vw;
}

.settings-blue{
  font-family: SOR2;
  color:rgb(18, 188, 230);
  cursor: pointer;
  font-size: 0.7vw;
}

.settings-pink{
  font-family: SOR2;
  color:rgb(230, 18, 124);
  cursor: pointer;
  font-size: 0.7vw;
}

.music-on{
  font-family: SOR2;
  color: goldenrod;
  cursor: pointer;
  font-size: 0.7vw;
}

.settings-save{
  cursor: pointer;
  margin-top: 1em;
  font-family: SOR2;
  color: white;
  font-size: 1.5vw;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #home {
    padding-top: 8vh;
    z-index: 0;
      display: flex;
      flex-wrap: wrap;
      font-family: SOR;
      animation-name: fadeIn;
      animation-duration: 5s;
      transition-timing-function: linear;
      animation-fill-mode: forwards;
      width: 100vw;
      align-items: center;
      justify-content: center;
    }
  
  .home-title {
    color:white;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      line-height: 70px;
      }
  
  .home-name {
      font-size: 60px;
      margin-bottom: 5px;
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 42px rgb(230, 18, 124),
        0 0 77px rgb(230, 18, 124),
        0 0 100px rgb(230, 18, 124);
      animation: neon 0.5s infinite linear;
  }
  
  .home-name-blue {
      font-size: 70px;
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 42px rgb(18, 188, 230),
        0 0 77px rgb(18, 188, 230),
        0 0 100px rgb(18, 188, 230);
      animation: neonblue 0.5s infinite linear;
  }
  
  .home-developer {
      margin-top: 5px;
      margin-bottom: 15px;
      font-size: 35px;
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 42px rgb(230, 18, 124),
        0 0 77px rgb(230, 18, 124),
        0 0 100px rgb(230, 18, 124);
      animation: flicker 4s infinite alternate;     
  }
  
  .home-developer-blue {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 35px;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 42px rgb(18, 188, 230),
      0 0 77px rgb(18, 188, 230),
      0 0 100px rgb(18, 188, 230);
    animation: flickerblue 4s infinite alternate;     
  }
  
  .press-start {
    display:flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin-top: 1em;
    font-family: SOR2;
    color: white;
    line-height: 30px;
    font-size: 15px;
    animation-duration: 1s;
    animation-name: flash;
    animation-iteration-count: infinite;
    transition: none;
  }
  
  .start-selected{
    padding-bottom: 1.5em;
    font-family: SOR2;
    color: white;
    font-size: 15px;
    text-align: center;
  }
  
  .settings{
    margin-top: 3em;
  }
  
  .settings-container {
    list-style: none;
    border-style:solid;
    border-width: 5px 2px;
    color: white;
    padding: 1em;
      width: 75vw;
      background-color: black;
      align-content: center;
      align-items: center;
      opacity:0.95;
    } 
  
  .settings-list{
    display: flex;
    flex-direction: column;
    line-height: 20px;
  }
  
  .settings-card{
    text-align: center;
    width: 75vw;
  }
  
  .settings-music{
    font-family: SOR2;
    list-style: none;
    line-height: 15px;
    text-align: center;
  }
  
  .settings-language{
    font-family: SOR2;
    list-style: none;
    line-height: 12px;
    text-align: center;
  }
  
  .settings-select{
    padding-bottom: 1em;
    font-family: SOR2;
    font-size:12px;
  }
  
  .settings-choice{
    font-family: SOR2;
    cursor: pointer;
    font-size: 10px;
    margin-bottom: 2em;
  }
  
  .settings-blue{
    font-family: SOR2;
    color:rgb(18, 188, 230);
    cursor: pointer;
    font-size: 10px;
    margin-bottom: 2em;
  }
  
  .settings-pink{
    font-family: SOR2;
    color:rgb(230, 18, 124);
    cursor: pointer;
    font-size: 10px;
    margin-bottom: 2em;
  }
  
  .music-on{
    font-family: SOR2;
    color: goldenrod;
    cursor: pointer;
    font-size: 10px;
    margin-bottom: 2em;
  }
  
  .settings-save{
    cursor: pointer;
    margin-top: 1em;
    font-family: SOR2;
    color: white;
    font-size: 15px;
    text-align: center;
  }
  }

  @media screen and (max-height: 415px) {
    #home {
      height: 100vh;
    }
  }
  