@font-face {
    font-family: 'SOR';
    src: local('SOR'), url('../font/SOR2.ttf');
  }

  @font-face {
    font-family: 'SOR2';
    src: local('SOR'), url('../font/SOR2-2.ttf');
  }

  @keyframes neon {
    0%{
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 42px rgb(230, 18, 124),
        0 0 77px rgb(230, 18, 124),
        0 0 100px rgb(230, 18, 124);
    }
    50% {
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 32px rgb(230, 18, 124),
        0 0 87px rgb(230, 18, 124),
        0 0 120px rgb(230, 18, 124);
    }
    }

    @keyframes neonblue {
      0%{
        text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 42px rgb(18, 188, 230),
          0 0 77px rgb(18, 188, 230),
          0 0 100px rgb(18, 188, 230);
      }
      50% {
        text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 32px rgb(18, 188, 230),
          0 0 87px rgb(18, 188, 230),
          0 0 120px rgb(18, 188, 230);
      }
      }

    @keyframes flash {
      0%   { opacity:1; }
      30%   {opacity:0; }
      100% { opacity:1; }
    }

#projects {
  width: 99vw;
  height:100vh;
  padding-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-title {
    font-family: SOR;
    color: white;
    width: 100%;
      margin-top: 5vh;
      font-size: 5vw;
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 42px rgb(230, 18, 124),
        0 0 77px rgb(230, 18, 124),
        0 0 100px rgb(230, 18, 124);
      animation: neon 0.3s infinite linear;
}

.projects-title-blue {
  font-family: SOR;
  color: white;
  width: 100%;
    margin-top: 5vh;
    font-size: 5vw;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 42px rgb(18, 188, 230),
      0 0 77px rgb(18, 188, 230),
      0 0 100px rgb(18, 188, 230);
    animation: neonblue 0.3s infinite linear;
}

.projects-container {
  border-style:solid;
  border-width: 5px 2px;
  color: white; 
  margin-top: 1em;
  padding: 1.5em;
    width: 75vw;
    background-color: black;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: justify;
    text-justify:auto;
} 

.projects-select {
  margin-bottom: 15px;
  font-family: SOR2;
  color: white;
  font-size: 1.5vw;
  animation-duration: 1s;
  animation-name: flash;
  animation-iteration-count: infinite;
  transition: none;
}

.projects-list {
  padding-top: 10px;
  width: 60vw;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projects-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.projects-img {
    width: 12em;
    height:12em;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-style: solid;
    border-width: 5px 2px;
    color: white;
    cursor: pointer;
    filter: brightness(80%);
}

.projects-img-selected {
  width: 12em;
  height:12em;
  border-style: solid;
  border-width: 5px 2px;
  color: goldenrod;
  cursor: pointer;
  filter: brightness(120%);
}

.projects-name {
  width: 22em;
  line-height: 2.2vh;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
    font-family: SOR2;
    color: white;
    font-size: 1vw;
    text-align: center;
}

.projects-name-selected {
    width: 22em;
    line-height: 2.2vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
      font-family: SOR2;
      color: goldenrod;
      font-size: 1vw;
      text-align: center;
  }

.projects-paragraph {
    width: 22em;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  line-height: 2.2vh;
    font-family: SOR2;
    color: white;
    font-size: 1vw;
}

@media screen and (max-width: 600px) {
  #projects {
    width: 100vw;
    padding-top: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .projects-title {
      font-family: SOR;
      color: white;
      width: 100%;
        margin-top: 3vh;
        font-size: 12vw;
        text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 42px rgb(230, 18, 124),
          0 0 77px rgb(230, 18, 124),
          0 0 100px rgb(230, 18, 124);
        animation: neon 0.3s infinite linear;
  }
  
  .projects-title-blue {
    font-family: SOR;
    color: white;
    width: 100%;
      margin-top: 3vh;
      font-size: 12vw;
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 42px rgb(18, 188, 230),
        0 0 77px rgb(18, 188, 230),
        0 0 100px rgb(18, 188, 230);
      animation: neonblue 0.3s infinite linear;
  }
  
  .projects-container {
    border-style:solid;
    border-width: 5px 2px;
    color: white; 
    margin: 1em;
    padding: 1.5em;
      width: 75vw;
      background-color: black;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-content: center;
      align-items: center;
      text-align: justify;
      text-justify:auto;
  } 
  
  .projects-select {
    margin-top: 15px;
  font-family: SOR2;
  color: white;
  font-size: 4vw;
  text-align: center;
  line-height: 2.5vh;
  animation-duration: 1s;
  animation-name: flash;
  animation-iteration-count: infinite;
  transition: none;
  }
  
  .projects-list {
    padding-top: 10px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .projects-one {
    margin-top: 10px;
    margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
  }
  
  .projects-img {
      width: 17em;
      height:13em;
      justify-content: center;
      align-items: center;
      align-content: center;
      border-style: solid;
      border-width: 5px 2px;
      color: white;
      cursor: pointer;
      filter: brightness(80%);
  }

  .projects-img-selected {
    width: 17em;
    height:13em;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-style: solid;
    border-width: 5px 2px;
    color: goldenrod;
    cursor: pointer;
    filter: brightness(120%);
}
  
  .projects-name {
    width: 12em;
    line-height: 2.5vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
      font-family: SOR2;
      color: white;
      font-size: 4vw;
      text-align: center;
  }

  .projects-name-selected {
      width: 12em;
      line-height: 2.5vh;
      align-content: center;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 5px;
        font-family: SOR2;
        color: goldenrod;
        font-size: 4vw;
        text-align: center;
    }
  
  .projects-paragraph {
      width: 12em;
      align-content: center;
      align-items: center;
      justify-content: center;
      text-align: center;
    line-height: 2vh;
      font-family: SOR2;
      color: white;
      font-size: 3vw;
  }
}