#projects {
    width: 99vw;
    height:100vh;
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects-title {
    font-family: SOR;
    color: white;
    width: 100%;
      margin-top: 5vh;
      font-size: 5vw;
      text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 42px rgb(230, 18, 124),
        0 0 77px rgb(230, 18, 124),
        0 0 100px rgb(230, 18, 124);
      animation: neon 0.3s infinite linear;
}

.projects-title-blue {
  font-family: SOR;
  color: white;
  width: 100%;
    margin-top: 5vh;
    font-size: 5vw;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 42px rgb(18, 188, 230),
      0 0 77px rgb(18, 188, 230),
      0 0 100px rgb(18, 188, 230);
    animation: neonblue 0.3s infinite linear;
}

.projects-container {
  border-style:solid;
  border-width: 5px 2px;
  color: white; 
  margin-top: 1em;
  padding: 1.5em;
    width: 75vw;
    background-color: black;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: justify;
    text-justify:auto;
    opacity:0.95;
} 

.carousel {
    width: 60vw;
    height: 50vh;
}

.carousel-root{
    height: 60vh;
    width: 60vw;
}

.carousel-slider{
    width: 70vw;
    height: 50vh;
}